@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
	margin: 0;
	padding: 0
}

.wrapper{
	margin:10px;
}

.switch {
	display: inline-block;
	position: relative;
	font-size: 12px;
	width: 22px;
	height: 13px;
	line-height: 13px;
	input {
		width: 22px;
		height: 13px;
		position: absolute;
		z-index: 2;
		border: 0;
		background: 0 0;
		-webkit-appearance: none;
		outline: 0;
		&:before {
			content: '';
			width: 20px;
			height: 12px;
			border: 1px solid #dfdfdf;
			background-color: #fdfdfd;
			border-radius: 20px;
			cursor: pointer;
			display: inline-block;
			position: relative;
			vertical-align: top;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
			box-shadow: #dfdfdf 0 0 0 0 inset;
			-webkit-transition: border .4s, background-color .4s;
			transition: border .4s, background-color .4s;
			-webkit-background-clip: content-box;
			background-clip: content-box
		}
		&:after {
			content: '';
			width: 10px;
			height: 11px;
			position: absolute;
			top: 1px;
			left: 0;
			border-radius: 100%;
			background-color: #fff;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
			box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
			-webkit-transition: left .2s;
			transition: left .2s
		}
		&:checked:before{
			border-color: #3B99FC;
			-webkit-box-shadow: #3B99FC 0 0 0 16px inset;
			box-shadow: #3B99FC 0 0 0 16px inset;
			background-color: #3B99FC;
			transition: background-color .4s;
			-webkit-transition: background-color .4s;
		}
		&:checked:after{
			left: 11px
		}
	}
}

.switch4PC {
	display: inline-block;
	position: relative;
	font-size: 12px;
	width: 22px;
	height: 13px;
	line-height: 13px;
	input{
		display: none;
		&:checked + i:before{
			border-color: #3B99FC;
			-webkit-box-shadow: #3B99FC 0 0 0 16px inset;
			box-shadow: #3B99FC 0 0 0 16px inset;
			background-color: #3B99FC;
			transition: background-color .4s;
			-webkit-transition: background-color .4s;
		}
		&:checked + i:after{
			left: 11px
		}
	}
	i {
		width: 22px;
		height: 13px;
		position: absolute;
		z-index: 2;
		border: 0;
		background: none;
		outline: 0;
		&:before {
			content: '';
			width: 20px;
			height: 12px;
			border: 1px solid #dfdfdf;
			background-color: #fdfdfd;
			border-radius: 20px;
			cursor: pointer;
			display: inline-block;
			position: relative;
			vertical-align: top;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
			-webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
			box-shadow: #dfdfdf 0 0 0 0 inset;
			-webkit-transition: border .4s, background-color .4s;
			transition: border .4s, background-color .4s;
			-webkit-background-clip: content-box;
			background-clip: content-box
		}
		&:after {
			content: '';
			width: 10px;
			height: 11px;
			position: absolute;
			top: 1px;
			left: 0;
			border-radius: 100%;
			background-color: #fff;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
			box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
			-webkit-transition: left .2s;
			transition: left .2s
		}
	}
}